{% extends 'base.html' %}

{% block content %}


<div class="row">
    
  <div class="container">
  
  <br>

  <div class="col offset-s2 s6">
      
  <h2>New Model</h2>
  <span>
    Add new vehicle model.
  </span>
  <br>
  <br>
        <form class="col s12" method = 'POST'>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">directions_car</i>
              <input id="input_model" type="text" class="validate" name="model" required>
                <label for="input_model">Model Name</label>
            </div>
          </div>
        </form>
        <div class="right-align" >
        <button type='button' class="waves-effect waves-light orange lighten-2 btn " onclick="history.go(-1)">Back</button>
        <button type='submit' class="waves-effect waves-light orange lighten-2 btn">Save</button>
        </div>
      </div>
      </div>
      </div>
      </div>
      {% endblock %}
