{% extends 'base.html' %}

{% block content %}

<div class="row">
<div class="container">
  <br>
  
  <div class="offset-s2 col s6">
    <h2>Create New Sale</h2>
    <span>
      Links a car model, to a color, to a customer.
    </span>

    
      <div class="input-field col s12">
    <br>

    <select id="client_dropdown">
      <option value="" disabled selected>Choose the owner</option>
      {% for client in clients %}
      <option value='{{ client.id }}'>{{ client.name }} {{ client.last_name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="input-field col s12">
    <select id="model_dropdown">
      <option value="" disabled selected>Choose the Model</option>
      {% for model in models %}
      <option value='{{ model.id }}'>{{ model.model }}</option>
      {% endfor %}
    </select>
  </div>


  <div class="input-field col s12">
    <select id="color_dropdown">
      <option value="" disabled selected>Choose the color</option>
      {% for color in colors %}
      <option value='{{ color.id }}'>{{ color.color }}</option>
      {% endfor %}
    </select>
  </div>


  <button type='button' class="orange lighten-2 waves-effect waves-light btn right" onclick="sendData();">Save</button>
  <br>
  <br>
</div>
</div>
</div>

{% endblock %}

{% block script %}
<script>

  $(document).ready(function () {
    $('select').formSelect();
  });



  function sendData() {

    idClient = $("#client_dropdown").val();
    idModel = $("#model_dropdown").val();
    idColor = $("#color_dropdown").val();

    if (idClient == null || idModel == null || idColor == null) {
      alert("Not all required options have been selected!")
      return false;
    }
    else {
      const dictValues = { idClient, idModel, idColor }
      const s = JSON.stringify(dictValues);

      console.log(s);

      $.ajax({
        url: window.location.href,
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(s),

        success: function (data) {
          window.location.href = '/clients';
        }
      });
    }
  }

</script>
{% endblock %}